# Ignora toda la carpeta y archivos con la guia de fronten mentor para el proyecto
/ping-coming-soon-page-master

# Captiras de pantalla
/active-stats-mobile.png
/active-stast-desktop.png
/desktop.png
/mobile.png
